<table mat-table *ngIf="offices.length" [dataSource]="offices" class="mat-elevation-z8 full-width">

	<ng-container matColumnDef="no">
		<th mat-header-cell *matHeaderCellDef> No. </th>
		<td mat-cell *matCellDef="let element; let index = index"> {{index + 1}} </td>
	</ng-container>

	<ng-container matColumnDef="plz">
		<th mat-header-cell *matHeaderCellDef> PLZ </th>
		<td mat-cell *matCellDef="let element"> {{element.PLZ}} </td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Name </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>

	<ng-container matColumnDef="action">
		<th mat-header-cell *matHeaderCellDef> </th>
		<td class="text-center" mat-cell *matCellDef="let element"> 
			<mat-icon class="action"
					(click)="removeOffice(element)"
					matTooltip="Remove Office">
				delete
			</mat-icon> 
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr class="cursor-pointer"
			mat-row
		*matRowDef="let row; columns: displayedColumns;"
		(dblclick)="updateOffice(row)"
		matTooltip="Double click to modify"></tr>
</table>
<div class="no-result-container" *ngIf="!offices.length"> NO RECORDS<br> FOUND</div>
<mat-paginator *ngIf="offices.length" [length]="offices.length"
		[pageSize]="10"
		[pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>